@import '../../styles/variables.scss';

.sidebar {
    background-color: #ffffff;
    width: 17%;
    height: 50%;
    position: fixed;
    top: 5.4rem;
    left: 27%;
    transform: translateX(-50%);

    &__title {
        font-size: 18px;
        font-weight: 400;
        color: $font-black;
        padding: 1.6rem 1.8rem;
    }

    &__list {
        list-style: none;
    }
}
